In [1]:
# https://www.kaggle.com/code/angellapark/5th-test-t2-question-230529-try-1-notebook 
# 1. Data and Library 
import pandas as pd
import numpy as np
import sklearn.preprocessing

df_train = pd.read_csv('/kaggle/input/big-data-analytics-certification-kr-2023-5th/train.csv')
df_test = pd.read_csv('/kaggle/input/big-data-analytics-certification-kr-2023-5th/test.csv')
df_train.head(3)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,EcoSport,2017,10298,Manual,25013,Petrol,150,53.3,1.0
1,Focus,2016,10491,Manual,30970,Diesel,0,74.3,1.5
2,S-MAX,2017,13498,Manual,60200,Diesel,150,56.5,2.0

In [2]:
# 1. set the float option - 실패!
# help(pd.set_option)
# pd.set_option('styler.format.precision', 2)
# pd.set_option('display.float_format', '0.00')

## 2. EDA

In [3]:
# 2. EDA(1) missing values AND data types check: non-null  
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3759 entries, 0 to 3758
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         3759 non-null   object
 1   year          3759 non-null   int64
 2   price         3759 non-null   int64
 3   transmission  3759 non-null   object
 4   mileage       3759 non-null   int64
 5   fuelType      3759 non-null   object
 6   tax           3759 non-null   int64
 7   mpg           3759 non-null   float64
 8   engineSize    3759 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 264.4+ KB

In [4]:
# 2. EDA(1) missing values AND data types check: non-null  
df_train.describe()[1:]

,year,price,mileage,tax,mpg,engineSize
mean,2016.887736,12353.321362,23191.786379,114.444001,57.793083,1.352807
std,2.151811,4750.338051,19223.258713,61.713682,10.099221,0.437130
min,2002.000000,1095.000000,5.000000,0.000000,20.900000,0.000000
25%,2016.000000,9000.000000,9997.500000,75.000000,52.300000,1.000000
50%,2017.000000,11495.000000,18180.000000,145.000000,58.900000,1.200000
75%,2018.000000,15310.000000,31000.000000,145.000000,65.700000,1.500000
max,2060.000000,48000.000000,144000.000000,570.000000,201.800000,5.000000

In [5]:
len(df_test)

1617

In [6]:
# 2. EDA(2) checking unique values and feature style
df_train.nunique()


# model             19 -object
# year              20
# price           1443
# transmission       3 -object
# mileage         3329
# fuelType           3 -object
# tax               23
# mpg               76
# engineSize        14
# dtype: int64

model             19
year              20
price           1443
transmission       3
mileage         3329
fuelType           3
tax               23
mpg               76
engineSize        14
dtype: int64

In [7]:
# 2. EDA(3) trying grouping : 모델별 평균 : 숫자형만 취급한다는 에러 무시
df_train.groupby('model').mean()

/tmp/ipykernel_20/61617523.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_train.groupby('model').mean()

,year,price,mileage,tax,mpg,engineSize
model,,,,,,
B-MAX,2015.216216,8014.040541,31067.040541,84.729730,55.181081,1.318919
C-MAX,2015.850877,9906.561404,29734.859649,72.412281,59.636842,1.388596
EcoSport,2017.585774,12795.874477,16131.309623,135.523013,53.509623,1.115063
Edge,2017.279070,22960.418605,22151.837209,156.860465,46.051163,2.000000
Fiesta,2016.870262,10246.741254,21615.703353,101.621720,60.831050,1.093659
Focus,2016.957292,13248.704167,23762.696875,113.322917,59.990521,1.375938
Fusion,2009.000000,2628.000000,60929.666667,240.000000,39.466667,1.533333
Galaxy,2016.333333,17372.166667,33532.812500,149.895833,53.079167,1.983333
Grand C-MAX,2016.211538,10905.480769,24605.250000,80.384615,57.888462,1.409615
Grand Tourneo Connect,2017.333333,15847.833333,21722.500000,123.750000,60.966667,1.500000
KA,2013.976190,5066.309524,36105.261905,50.833333,56.909524,1.173810
Ka+,2017.819820,8608.792793,11512.135135,137.252252,53.716216,1.200000
Kuga,2017.160944,15938.319742,22662.976395,147.821888,51.467167,1.807725
Mondeo,2016.372727,12701.981818,45227.909091,103.636364,58.869091,1.884545
Mustang,2018.833333,35864.750000,6552.916667,180.416667,24.375000,4.550000
Puma,2018.470588,21331.529412,5754.117647,150.588235,49.676471,0.976471
S-MAX,2016.596774,17750.548387,29837.500000,148.387097,51.404839,1.938710
Tourneo Connect,2016.714286,13934.428571,20035.142857,90.000000,61.228571,1.500000
Tourneo Custom,2017.733333,20534.666667,25528.400000,168.666667,37.960000,2.013333

In [8]:
# 2. EDA(3) trying grouping : 모델별 평균 가격만
df_train.groupby('model').mean()['price'].sort_values(ascending = False)

/tmp/ipykernel_20/4258088385.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_train.groupby('model').mean()['price'].sort_values(ascending = False)

model
 Mustang                  35864.750000
 Edge                     22960.418605
 Puma                     21331.529412
 Tourneo Custom           20534.666667
 S-MAX                    17750.548387
 Galaxy                   17372.166667
 Kuga                     15938.319742
 Grand Tourneo Connect    15847.833333
 Tourneo Connect          13934.428571
 Focus                    13248.704167
 EcoSport                 12795.874477
 Mondeo                   12701.981818
 Grand C-MAX              10905.480769
 Fiesta                   10246.741254
 C-MAX                     9906.561404
 Ka+                       8608.792793
 B-MAX                     8014.040541
 KA                        5066.309524
 Fusion                    2628.000000
Name: price, dtype: float64

In [9]:
# 2. EDA(3) trying grouping : 미션
df_train.groupby('transmission').mean().sort_values(by = 'price', ascending = False)

/tmp/ipykernel_20/1176115048.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_train.groupby('transmission').mean().sort_values(by = 'price', ascending = False)

,year,price,mileage,tax,mpg,engineSize
transmission,,,,,,
Automatic,2017.285256,15799.166667,19578.461538,142.419872,49.237821,1.604808
Semi-Auto,2016.957746,14383.765258,20465.173709,134.389671,51.509390,1.523944
Manual,2016.844774,11887.153061,23719.963822,110.431354,59.032313,1.317223

In [10]:
# 2. EDA(3) trying grouping : 연료
df_train.groupby('fuelType').mean().sort_values(by = 'price', ascending = False)

/tmp/ipykernel_20/862387269.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_train.groupby('fuelType').mean().sort_values(by = 'price', ascending = False)

,year,price,mileage,tax,mpg,engineSize
fuelType,,,,,,
Hybrid,2019.000000,23716.600000,14202.600000,111.000000,82.740000,1.700000
Diesel,2016.650453,13796.314922,29779.176422,104.682605,61.820940,1.755565
Petrol,2016.996852,11642.118064,20064.844943,119.110586,55.821212,1.159858

In [11]:
# 2. EDA(4) check each columns variance
df_train.std()

/tmp/ipykernel_20/3144742042.py:2: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_train.std()

year              2.151811
price          4750.338051
mileage       19223.258713
tax              61.713682
mpg              10.099221
engineSize        0.437130
dtype: float64

In [12]:
# 2. EDA(5) correlation
df_train.corr()

/tmp/ipykernel_20/816846513.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_train.corr()

                year     price   mileage       tax       mpg  engineSize
year        1.000000  0.609033 -0.683889  0.273231 -0.011428   -0.117435
price       0.609033  1.000000 -0.535471  0.395519 -0.348727    0.424738
mileage    -0.683889 -0.535471  1.000000 -0.254026  0.101006    0.197767
tax         0.273231  0.395519 -0.254026  1.000000 -0.492096    0.191779
mpg        -0.011428 -0.348727  0.101006 -0.492096  1.000000   -0.281928
engineSize -0.117435  0.424738  0.197767  0.191779 -0.281928    1.000000

대충 알 수 있는 것:  
- 연식 : 연식은 몇 년이 됐냐가 아니라 몇 년도 산이냐의 문제이므로 강한 양의 상관관계가 있는게 맞음
- 마일리지 : 많이 탔을 수록 가격이 떨어질테니까 강한 음의 상관관계가 맞음
- 세금 : 차마다 다르겠지만 가격 낮은 경차나 일반 승용차는 가격과 세금이 낮을 것이고, 세금을 많이 낼 만한 차들은 (ㅋㅋ) 출고가가 높으니 시간이 지나도 가격이 높을 테니까 어느정도 양의 상관관계가 있는게 맞음
- 연비 : 연비와 가격은 차량 가격이 어느 정도 이상이 되면 극단적으로 반비례하는 게 대부분. 음의 상관관계가 있는 것이 이해가 감.
- 엔진사이즈 : 클 수록 배기량이 많을 텐데, 배기량이 크면 클 수록 퍼포먼스가 중요한 모델이므로 가격이 높을 가능성이 높으므로 어느정도 양의 상관관계가 있는것이 맞음.

## 3. 전처리
### (1) 더미화

In [13]:
# 3. Preprocessing(1) : dummy 화 실패
# help(sklearn.preprocessing.OneHotEncoder) 를 사용할 까 했으나 예전에 했던게 이게 아님을 곧 꺠달았다.

#  |  >>> enc = OneHotEncoder(handle_unknown='ignore')
#  |  >>> X = [['Male', 1], ['Female', 3], ['Female', 2]]
#  |  >>> enc.fit(X)
#  |  OneHotEncoder(handle_unknown='ignore')
#  |  >>> enc.categories_
#  |  [array(['Female', 'Male'], dtype=object), array([1, 2, 3], dtype=object)]
#  |  >>> enc.transform([['Female', 1], ['Male', 4]]).toarray()
#  |  array([[1., 0., 1., 0., 0.],
#  |         [0., 1., 0., 0., 0.]])

# encoder = sklearn.preprocessing.OneHotEncoder()
# df_train_dum = encoder.fit_transform(df_train[['transmission', 'fuelType']])
# df_train_dum


# <3759x6 sparse matrix of type '<class 'numpy.float64'>'
# 	with 7518 stored elements in Compressed Sparse Row format>

In [14]:
# 3. Preprocessing(1) : dummy 화 성공
# help(pd.get_dummies)
# String to append DataFrame column names.

df_train_dum = pd.get_dummies(data = df_train, columns = ['transmission', 'fuelType'],
                              prefix = ['mission', 'fuel'], drop_first=False, dtype = np.int8)
df_train_dum.sample(5)

,model,year,price,mileage,tax,mpg,engineSize,mission_Automatic,mission_Manual,mission_Semi-Auto,fuel_Diesel,fuel_Hybrid,fuel_Petrol
1787,Fiesta,2017,12000,17506,0,57.7,1.0,0,0,1,0,0,1
2760,Focus,2019,18500,3600,145,42.8,1.0,1,0,0,0,0,1
2806,Kuga,2017,17498,22439,145,54.3,2.0,0,1,0,1,0,0
1822,Fiesta,2018,12000,4127,150,55.4,1.1,0,1,0,0,0,1
1894,Focus,2017,17387,22342,145,41.5,2.0,0,1,0,0,0,1

#### 모델별로 변속기랑 연료 타입이 다 같을까?  (아래)

-> False 모델 자체를 피처로 쓰는 것이 좋지 않을 가능성이 높음. (KA, Ka+ 제외 거의 다름)

In [15]:
df_train_dum.groupby('model').mean()

,year,price,mileage,tax,mpg,engineSize,mission_Automatic,mission_Manual,mission_Semi-Auto,fuel_Diesel,fuel_Hybrid,fuel_Petrol
model,,,,,,,,,,,,
B-MAX,2015.216216,8014.040541,31067.040541,84.729730,55.181081,1.318919,0.108108,0.716216,0.175676,0.202703,0.000000,0.797297
C-MAX,2015.850877,9906.561404,29734.859649,72.412281,59.636842,1.388596,0.087719,0.868421,0.043860,0.578947,0.000000,0.421053
EcoSport,2017.585774,12795.874477,16131.309623,135.523013,53.509623,1.115063,0.071130,0.857741,0.071130,0.154812,0.000000,0.845188
Edge,2017.279070,22960.418605,22151.837209,156.860465,46.051163,2.000000,0.348837,0.325581,0.325581,1.000000,0.000000,0.000000
Fiesta,2016.870262,10246.741254,21615.703353,101.621720,60.831050,1.093659,0.029155,0.925656,0.045190,0.053207,0.000000,0.946793
Focus,2016.957292,13248.704167,23762.696875,113.322917,59.990521,1.375938,0.093750,0.869792,0.036458,0.363542,0.000000,0.636458
Fusion,2009.000000,2628.000000,60929.666667,240.000000,39.466667,1.533333,0.333333,0.666667,0.000000,0.000000,0.000000,1.000000
Galaxy,2016.333333,17372.166667,33532.812500,149.895833,53.079167,1.983333,0.125000,0.770833,0.104167,0.916667,0.000000,0.083333
Grand C-MAX,2016.211538,10905.480769,24605.250000,80.384615,57.888462,1.409615,0.211538,0.692308,0.096154,0.692308,0.000000,0.307692
Grand Tourneo Connect,2017.333333,15847.833333,21722.500000,123.750000,60.966667,1.500000,0.333333,0.666667,0.000000,1.000000,0.000000,0.000000
KA,2013.976190,5066.309524,36105.261905,50.833333,56.909524,1.173810,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
Ka+,2017.819820,8608.792793,11512.135135,137.252252,53.716216,1.200000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
Kuga,2017.160944,15938.319742,22662.976395,147.821888,51.467167,1.807725,0.122318,0.791845,0.085837,0.802575,0.002146,0.195279
Mondeo,2016.372727,12701.981818,45227.909091,103.636364,58.869091,1.884545,0.300000,0.618182,0.081818,0.818182,0.027273,0.154545
Mustang,2018.833333,35864.750000,6552.916667,180.416667,24.375000,4.550000,0.583333,0.333333,0.083333,0.000000,0.000000,1.000000
Puma,2018.470588,21331.529412,5754.117647,150.588235,49.676471,0.976471,0.000000,1.000000,0.000000,0.000000,0.058824,0.941176
S-MAX,2016.596774,17750.548387,29837.500000,148.387097,51.404839,1.938710,0.145161,0.741935,0.112903,0.838710,0.000000,0.161290
Tourneo Connect,2016.714286,13934.428571,20035.142857,90.000000,61.228571,1.500000,0.285714,0.714286,0.000000,1.000000,0.000000,0.000000
Tourneo Custom,2017.733333,20534.666667,25528.400000,168.666667,37.960000,2.013333,0.133333,0.866667,0.000000,1.000000,0.000000,0.000000

## 3. 전처리
### (2) train 데이터 test 데이터 더미화 후, X, y로 나누기

차종을 드랍하는 방식으로 간단하게 해보기.

In [16]:
# 3. Preprocessing(2) : X, y 
# df_train_dum = pd.get_dummies(data = df_train, columns = ['transmission', 'fuelType'],
#                               prefix = ['mission', 'fuel'], drop_first=False, dtype = np.int8)

df_test_dum = pd.get_dummies(data = df_test, columns = ['transmission', 'fuelType'],
                              prefix = ['mission', 'fuel'], drop_first=False, dtype = np.int8)

X_train, y_train = df_train_dum.drop(columns = ['model', 'price']),  df_train_dum['price']
X_test = df_test_dum.drop(columns = ['model'])

### (3) : 스케일링
사실 가격이나 마일리지랑 엔진, 더미변수 등이랑 스케일 차이가 커서 표준화나 로그스케일 변환 등을 할 수 도 있지만...  
제출만 하고 다음에 하기로.


### (4) : k-fold validation set 만들기
테스트 셋이 트레인 셋의 1/3은 되므로 검증셋을 따로 만들지 않는 대신 k-fold 교차 검증을 이용하기로 함  
따라서 validation data 셋을 따로 만들지 않음 -> 마음만 그랬음.... ㅎㅎ

## 4. 모델 생성
### (1) SVR

In [17]:
# 1. SVR - kernel :rbf :5초걸렸나.
import sklearn.svm
# help(sklearn.svm.SVR)
svr_rbf = sklearn.svm.SVR(kernel = 'rbf', epsilon = 0.1)
# svr_rbf.fit(X = X_train, y = y_train)
# y_test = svr_rbf.predict(X_test)

In [18]:
# # 1. SVR - kernel :linear : 5분이 넘어가서 중단하기로 함.
# # import sklearn.svm
# svr_lin = sklearn.svm.SVR(kernel = 'linear', epsilon = 0.1)
# svr_lin.fit(X = X_train, y = y_train)
# # y_test = svr_lin.predict(X_test)

### (2) Decision tree

In [19]:
# 2. 디시젼트리 : friedman mean square errir
import sklearn.tree
# help(sklearn.tree.DecisionTreeRegressor)
tree = sklearn.tree.DecisionTreeRegressor(criterion = 'friedman_mse')
# tree.fit(X = X_train, y = y_train)
# y_test = tree.predict(X_test)

### (3) Gaussian

In [20]:
# 3. 가우시안 : 3초걸렸나
import sklearn.gaussian_process
# help(sklearn.gaussian_process.GaussianProcessRegressor)
gaus = sklearn.gaussian_process.GaussianProcessRegressor()
# gaus.fit(X = X_train, y = y_train)
# y_test = gaus.predict(X_test)

### (4) 앙상블 - Ada boost

In [21]:
# 4. adaboost : 3초도 안걸렸다는...
import sklearn.ensemble
# help(sklearn.ensemble.AdaBoostRegressor)
ada = sklearn.ensemble.AdaBoostRegressor()
# ada.fit(X = X_train, y = y_train)
# y_test = ada.predict(X_test)

### (5) 최종 - 위 모델들 Voting

```
 |  >>> import numpy as np
 |  >>> from sklearn.linear_model import LinearRegression
 |  >>> from sklearn.ensemble import RandomForestRegressor
 |  >>> from sklearn.ensemble import VotingRegressor
 |  >>> from sklearn.neighbors import KNeighborsRegressor
 |  >>> r1 = LinearRegression()
 |  >>> r2 = RandomForestRegressor(n_estimators=10, random_state=1)
 |  >>> r3 = KNeighborsRegressor()
 |  >>> X = np.array([[1, 1], [2, 4], [3, 9], [4, 16], [5, 25], [6, 36]])
 |  >>> y = np.array([2, 6, 12, 20, 30, 42])
 |  >>> er = VotingRegressor([('lr', r1), ('rf', r2), ('r3', r3)])
 |  >>> print(er.fit(X, y).predict(X))
 |  [ 6.8...  8.4... 12.5... 17.8... 26...  34...]
```

In [22]:
# 5. adaboost : 3초도 안걸렸다는...
import sklearn.ensemble
# help(sklearn.ensemble.VotingRegressor)
esb_voting = sklearn.ensemble.VotingRegressor([('svr', svr_rbf), ('dt', tree), ('ga', gaus), ('ada', ada)])

## 5. 예측

In [23]:
# 5~6초 걸린 것 같음
esb_voting.fit(X = X_train, y = y_train)
pred = esb_voting.predict(X = X_test)

## 6. csv

In [24]:
final = pd.DataFrame(pred)
final.reset_index(inplace = True)
final.to_csv('submission.csv', header = ['id', 'price'], index = False)
pd.read_csv('submission.csv')

        id         price
0        0  10970.078839
1        1  10823.342076
2        2  10204.561862
3        3  16628.327743
4        4   6556.860028
...    ...           ...
1612  1612   8832.804948
1613  1613  11799.668958
1614  1614   7727.339040
1615  1615  10254.521686
1616  1616   5754.165155

[1617 rows x 2 columns]

haha 망했다 나진짜 마지막 제출 안되면 진짜 했던것만오려야지